@import "palette";
@import "fonts";

$header-size: 60px;
$section-spacing: 24pt;

* {
	box-sizing: border-box;
}

body {
	font-family: $Lora;
	font-size: 12pt;
	margin: 0;
	height: 100vh;
	width: 100vw;
}

.logo {
	background: url("../img/flower.png") center;
	background-size: contain;
	width: 50px;
	height: 50px;
	position: absolute;
	left: calc(50% - 25px);
	top: 25px;
}

// Header
header {
	position: fixed;
	z-index: 2;
	background-color: #fff;
	border-bottom: 1px #eee solid;

	margin: 0;
	padding: 0 5vw;

	width: 100%;
	height: $header-size;

	display: flex;
	justify-content: space-between;
	align-items: center;

	.site-title {
		font-size: 1em;
		font-weight: bold;
		color: #666;
	}

	.logo {
		width: 50px;
		z-index: 3;
		float: right;
	}

	nav {
		// TODO: add hamburger menu, and make normal in tablet
		ul {
			display: flex;
			justify-content: start;

			padding: 0;
			margin: 0;
			list-style: None;

			li {
				padding-left: 1em;
				a {
					font-size: 0.8em;
					color: #666;
				}
				a:hover {
					// text-decoration: underline;
					color: #aaa;
				}
			}
		}
	}
}

main {

	padding: 0 5vw 5vh 5vw;
	margin: 0;
	margin-top: $header-size;
	overflow-y: scroll;
	width: 100vw;

	position: absolute;
	display: grid;
	justify-items: center;
	row-gap: 0;
	column-gap: 0;

	> section {
		border-top: #ddd solid;
		width: 65vw;
		max-width: 800px;
		padding-top: $section-spacing;
		margin-top: $section-spacing;
		display: grid;
		justify-items: center;

		h1 {
			font-variant: all-small-caps;
			font-family: $Mont;
			font-size: 1.2em;
			letter-spacing: 0.25em;
			color: #888;
			background-color: #fff;
			margin-top: - $section-spacing - 11pt;
			text-align: center;
			padding: 0 10px;
		}
	}

	a.button {
			margin: 1em auto 0 auto;
			width: max-content;
			display: inline-block;
			padding: 0.5em 1em;
			border: 0.1em solid #ffffff;
			border-radius: 1.5em;
			box-sizing: border-box;
			text-decoration: none;
			font-family: $Mont;
			font-size: 0.8em;
			font-weight: bold;
			background-color: #888;
			color: #ffffff;
			text-align: center;
			transition: all 0.5s;

			&:hover {
				color: #888;
				background-color: #fafafa;
				border: 0.1em solid #888;
			}
		}

	.hero {
		width: 40vw;
		height: 40vw;
		max-width: 500px;
		max-height: 500px;
		padding: 0;
		background: url("../img/hero.png") bottom no-repeat #ffffff;
		background-size: contain;
		border: none;

	}

	.tag-line {
		color: #333;
		text-align: center;

		#s1, #s2 {
			font-size: 2em;
		}
		#s3 {
			font-size: 1.2em;
			font-style: italic;
			padding: 0.3em 0;
		}

		#line {
			width: 15vw;
			border-top: #ddd solid;
			margin-top: 0.5em;
		}

	}

	.profile-images {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 16px;
		img {
			border: 1px solid #333;
			width: 100%;
		}
	}

	.mission-statement {
		span {
			color: #333333;
			font: $Lora;
			font-style: italic;
			font-weight: 400;
			font-size: 1.6rem;
			text-align: center;

			#specialist {
				font-variant: all-small-caps;
				// font-style: normal;
				font-weight: bolder;
				font-size: 1.8rem;
			}
		}
	}

	.featured-work  {
		#featured-work-grid {
			display: grid;
			justify-content: center;
			grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
			gap: 0px;

			font: $Lora;
			font-style: italic;
			font-weight: 400;
			font-size: 0.8rem;
			color: #333;
			text-align: center;

			section {
				padding:20px
			}

			section:hover {
				background-color: darken(#fff, 5%);
			}

			h2 {
				font-weight: bold;
				font-style: normal;
				font-size: 1.3rem;
				font-variant: all-small-caps;
				padding: 0px;
				margin: 0px;
			}

			img {
				object-fit: cover;
				aspect-ratio: 1/1;
				width: 100%;
			}

			a {
				text-decoration: underline;
			}
			a:hover {
				color:#aaa;
			}
		}
	}

	.footer {
		p {
			text-align: center;
		}
		a {
			color: #333;
		}
	}
}

// tablet size
// @media only screen and (min-width: 700px) {
// 	.logo {
// 		position: absolute;
// 		left: calc(50% - 25px);
// 		top: 25px;
// 	}
// }

// 	main {
// 		.hero {
// 			background-image: none;
// 			width: 100%;
// 			height: calc(100vh - 60px - 10vw);
// 			margin: $header-size 0 0 0;
// 			padding: 0;
// 			color: #666;
// 			position: relative;
// 			display: flex;

// 			.hero-content {
// 				&:before {
// 					content: "";
// 					background: url("../img/hero.png") top no-repeat;
// 					background-size: contain;
// 					min-width: 100px;
// 					min-height: 100px;
// 					display: block;
// 				}
// 				text-align: center;
// 				display: block;
// 			}
// 		}
// 	}
// }
